/* Checkbox */
.main_box input {
  display: none;
}

/* Button one means Menu button  */

.main_box .btn_one label img {
  position: absolute;
  left: 15px;
  /* top: 15px; */
  /* height: 50px;
  width: 70px; */
  color: black;
  cursor: pointer;
  transition: all 0.2s;
}

/* Sidebar menu  */
.main_box .sidebar_menu {
  margin: 0;
  padding-top: 0;
  position: absolute;
  left: 0px;
  left: -400px;
  width: 300px;
  height: 100vh;
  border-radius: 0 20px 20px 0;
  background-color: #E8F0FE;
  transition: all .2s ease-in;
}

/* logo pannel in sidebar menu  */
.main_box .sidebar_menu #logo {
  position: absolute;
  top: 0;
  height: 70px;
  width: 100%;
  border-radius: 0 20px 0 0;
  box-shadow: 0 0 4px black;
}

/* Website name Pannel */
.main_box .sidebar_menu #logo a {
  position: absolute;
  margin: 5px;
  left:20px;
  top: 0;
  font-width:900;
  font-size: 40px;
  text-decoration: none;
  color: black;
}

/* Button two means close menu  */
.main_box .sidebar_menu .btn_two label img {
  position: absolute;
  margin-top: 10px;
  right: 20px;
  height: 40px;
  width: 40px;
  cursor: pointer;
  color: black;
  transition: all 0.2s;
  /* opacity:0; */
}

/* Menu   */
.main_box .sidebar_menu .menu {
  position: absolute;
  top: 70px;
  width: 100%;
}

/* Remove padding from ul tag */
.main_box .sidebar_menu .menu ul {
  padding: 0;
}

/* Remove underline from menu name */
.main_box .sidebar_menu .menu ul a {
  text-decoration: none;
  color: black;
  font-size: 30px;
  line-height: 60px;
}

/* Give space to menu section   */
.main_box .sidebar_menu .menu ul a li {
  list-style: none;
  height: 60px;
  width: 100%;
  padding: auto 10px;
  box-shadow: 0 0px 4px rgba(0, 0, 0, 0.5);
}

/* Give height and width to logo under menu  */
.main_box .sidebar_menu .menu ul a li img {
  height: 30px;
  width: 30px;
  margin-left: 20px;
  padding-right: 10px;
}

/* Social media section  */
.main_box .sidebar_menu .social_media {
  position: absolute;
  bottom: 20px;
  width: 100%;
  padding-left: 50px;
}

/* Remove small underline from behind the logo  */
.main_box .sidebar_menu .social_media a {
  text-decoration: none;
}

/* Set Social media logo size */
.main_box .sidebar_menu .social_media a .social_logo {
  height: 35px;
  width: 35px;
  padding:none;
  opacity:.7;
}

/* Hover Effects  */

/* Button one  */
.main_box .btn_one label img:hover {
  transform: scale(1.2);
}

/* Button Two  */
.main_box .sidebar_menu .btn_two label img:hover{
  transform: scale(1.2);
}

/* menu list  */
.main_box .sidebar_menu .menu ul a li:hover{
    
    transform:scale(1.01);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

/* Social media image  */
.main_box .sidebar_menu .social_media a .social_logo:hover{
    transform:scale(1.2);
    opacity:1;
}









/* Working style  */
#button:checked ~ .sidebar_menu{
    left:0px;
}

/* Button one hide  */
#button:checked ~ .btn_one{
    display:none;

}